{% extends "base.html" %}

{% block title %} Запрос на загрузку {% endblock %}

{% block content %}
<div class="container">
           <h1 style="text-align: center"> Демонстрация данных</h1>
    <h5 style="text-align: center">(выводятся по 10 записей на страницу)</h5>
            <br>
            <h3 style="text-align: center"> Колличество данных в базе равно {{count_list}}</h3>
            <br>

            <!-- Вывод ленты записей -->
                <div style="display: flex; justify-content: center;">
                <button style="align-content: center"><h2><a href="{% url 'download' %}" class='btn btn-lg'>Сделать запрос данных </a></h2></button>
                </div>
    <br>
    {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %} <hr>
                <table border="1">
                     <tr>
                            <th>Имя пользователя</th>
                            <th>Тема поста</th>
                            <th>Текст поста</th>
                    </tr>
                        {% for post in page %}
                    <tr>
                            <td>{{ post.name }}</td>
                            <td>{{ post.topic }}</td>
                            <td>{{ post.text}}</td>
                    </tr>
                        {% endfor %}
                </table> <hr>

</div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}
